html,
body {
  font-family: $quicksand;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  width: 100%;
  padding: 2rem;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.module-area {
  margin: 1rem 0;

  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(17.375em, 1fr));
  grid-gap: 0.5em;
}
