// ===========================
// COLUMN

.col-container {
  display: flex;
  flex-direction: column;

  .module-list {
    transition: background-color 0.2s ease;
    flex-grow: 1;
    border-radius: 0.5em;
    padding: 0.5em;
  }
}
