// ===========================
// MODULE
.module {
  // width: 16.25em;
  border: 1px solid;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);

  margin-bottom: 1.75em;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.675em 0.75em;

    .mover {
      cursor: grab;

      svg {
        display: block;
      }
    }
  }

  .divider {
    margin: 0 0.75em 0.75em;
  }

  .content {
    margin: 0 0.75em 1em;

    &.hidden {
      display: none;
    }
  }

  .timestamp {
    padding: 0.5em 0.75em;

    p {
      font-size: 0.75em;
      text-align: right;
    }
  }
}
