.modal-wrapper {
  z-index: 1000;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;

  .backdrop {
    transition: opacity 200ms ease;
    position: absolute;
    inset: 0;
  }
  .modal {
    transition: transform 450ms;
    transition-timing-function: linear(
      0,
      -0.005 9.4%,
      -0.037 22.7%,
      -0.041 27.3%,
      -0.023 32.6%,
      0.025 37%,
      0.112 41.2%,
      0.239 45%,
      0.666 52.9%,
      0.821 56.6%,
      0.936 60.8%,
      1.008 65.6%,
      1.034 69.4%,
      1.041 73.9%,
      1.006 90.3%,
      1
    );
    position: relative;
    margin: 2em;
    width: 100%;
    max-width: 26em;
    border: 1px solid;

    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        padding: 0.75em 0 0.5em 0.75em;
      }

      .modal-closer {
        margin-right: 0.25em;
        width: 2em;
        height: 2em;
        padding: 0.5em;
        cursor: pointer;

        svg {
          display: block;
          width: 1em;
          height: 1em;
        }
      }
    }

    .modal-content {
      padding: 0 0.75em 0.75em;

      display: flex;

      @media screen and (max-width: 450px) {
        display: block;
      }

      .section {
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 2em;

          @media screen and (max-width: 450px) {
            margin-bottom: 1.5em;
            margin-right: 0;
          }
        }
      }
    }
  }
}
