// ====================================
// THEME - BASIS

body {
  // ------------------
  // global

  background: var(--background);

  h1 {
    color: var(--h1);
  }

  h2 {
    color: var(--h2);
  }

  p {
    color: var(--p);
  }

  .button {
    color: var(--button-color);
    border-color: var(--button-border);
    background: var(--button-bg);
  }

  a {
    color: var(--link);
    fill: var(--link);
    border-color: var(--link);

    &:hover {
      color: var(--link-hover);
      fill: var(--link-hover);
      border-color: var(--link-hover);
    }
  }

  .value {
    color: var(--key-text);

    &.positive {
      color: var(--positive);
    }

    &.negative {
      color: var(--negative);
    }

    .subtext {
      color: var(--support-text);
    }
  }

  // ------------------
  // common elements
  .divider {
    background-color: var(--divider-bg);
    border-bottom-color: var(--divider-border);
  }

  .modal-wrapper {
    .backdrop {
      background-color: var(--modal-backdrop);
    }
    .modal {
      background-color: var(--module-bg);
      border-color: var(--module-border);

      .modal-header {
        .modal-closer {
          fill: var(--subtle-icon);
        }
      }
    }
  }

  .an-option {
    color: var(--key-text);
  }

  // ------------------
  // header
  .header {
    .actions {
      .action {
        border-color: var(--action-border);
        fill: var(--action-fill);
        background: var(--action-bg);
      }
    }
  }

  // ------------------
  // columns
  .col-container {
    .module-list.dragging {
      background-color: var(--dragging-color);
    }
  }

  // ------------------
  // modules
  .module {
    background-color: var(--module-bg);
    border-color: var(--module-border);

    .label {
      .mover {
        fill: var(--subtle-icon);
      }
    }

    .timestamp {
      background-color: var(--module-border);

      p {
        color: var(--support-text);

        span {
          color: var(--key-text);
        }
      }
    }
  }

  // ------------------
  // sections
  .section {
    // section label
    .section-label {
      color: var(--support-text);
    }
  }

  // ----------------------------
  // values with optional icon
  .value-n-optional-icon {
    .alert {
      fill: var(--negative);
    }
  }

  // ------------------
  // ip with most page loads
  .pageload-state {
    &.okay {
      color: var(--positive);
      fill: var(--positive);
    }

    &.warning {
      color: var(--negative);
      fill: var(--negative);
    }
  }

  // ----------------------------
  // settings
  .settings-actions {
    background-color: var(--module-border);
  }

  // ------------------
  // bar chart
  .bar-chart {
    // chart header
    .chart-header {
      background-color: var(--module-border);
      color: var(--barchart-header-color);
    }

    // chart body
    .chart-body {
      border-color: var(--module-border);
      background: var(--barchart-body-bg);

      // bars
      .bar {
        border-color: var(--barchart-bar-border);
        background-color: var(--barchart-bar-bg);

        .bar-value {
          color: var(--barchart-value-color);
          background-color: var(--barchart-value-bg);
        }

        .bar-element {
          background: var(--barchart-element-bg);
        }
      }
    }
  }

  // --------------------------
  // orders by source row label
  .row-label {
    color: var(--support-text);
  }
}
