// ===========================
// TYPOGRAPHY

$rajd: "Rajdhani", sans-serif;
$quicksand: "Quicksand", sans-serif;

h1 {
  font-family: $rajd;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1em;
}
h2 {
  font-family: $rajd;
  font-size: 1em;
}
p {
  font-family: $quicksand;
  font-size: 0.9em;
  line-height: 1.5em;
}

.value {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1em;

  .subtext {
    font-size: 0.75em;
    font-weight: 400;
  }
}

.text-bold {
  font-weight: bold;
}

.text-link {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 2px 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
